
:host {
  flex-direction: column;
}

.grid-table.schedule-page ::ng-deep .footer {
  justify-content: flex-end;

}


.search-panel {
  display: flex;
  //min-height: 50px;
  padding: 5px 15px 0 15px;

  .ant-advanced-search-form {
    display: flex;
    flex-wrap: wrap;

    > * {
      min-width: 250px;
      margin-right: 8px;
      margin-bottom: 5px;
    }
  }
}
