:host {
  display: flex;
  flex-direction: column;
}
.init-loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.tree-top {
  display: flex;
  justify-content: space-between;
  background: var(--ag-header-background-color);
  padding: 5px 10px;
  border: 1px solid;
  border-color: var(--ag-border-color);
  border-right: none;
}
.empty {
  margin: 30px auto auto;
}

::ng-deep .case-editor-modal {
  max-width: 1500px;
  overflow-y: auto;

  .ant-modal-body {
    min-height: 380px;
    overflow-y: auto;
  }
}


.tree {
  min-height: 200px;
  flex-grow: 1;

  ::ng-deep cdk-virtual-scroll-viewport {
    overflow-x: hidden;
  }

}

.case-buttons span {
  margin-right: 4px;
}

.node-row {
  cursor: pointer;

}

::ng-deep .case-tree {
  nz-form-control.ant-col {
    max-width: initial;
  }


}


.tree-node-option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.context-menu::before, .ant-tree-treenode-selected.context-menu::before {
  background: #1890ffa1;
}
