$header-background: #faad1473;


.default-layout {

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: var(--view-bottom);
  top: 0;



  .header {
    user-select: none;
    padding: 0 20px 0 0;
    -webkit-app-region: drag;
    position: relative;
    display: flex;
    width: 100%;
    background: $header-background;
    justify-content: space-between;
    align-items: center;

    .logo {

      padding: 0 8px;
      margin: 16px 40px;
      background: rgba(102, 11, 243, 0.3);
      font-size: 2rem;
      text-transform: uppercase;
      color: white;
      letter-spacing: .2rem;
      line-height: 1;
      position: relative;
      border-radius: 10px;
    }

    .progress, .setting, .language, .console {

      cursor: pointer;
    }

    .left {
      display: flex;
      align-items: center;
    }

    .right {
      -webkit-app-region: no-drag;
      display: flex;
      align-items: center;
      .switch {
        height: 24px;
        line-height: 1.5;
      }
      > * {

        margin-left: 16px;
      }
    }

    button.run-status {

    }
  }

  .menu.ant-menu {
    background: transparent;
    -webkit-app-region: no-drag;

  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {

  }


  .inner-content {
    //padding: 24px;
    background: #fff;
    //min-height: 360px;
    height: 100%;

    > *:last-child {
      display: flex;
      height: 100%;
      width: 100%;
      //flex-direction: column;
    }
  }

  nz-footer {
    text-align: center;
  }

}

.rounded {
  border-radius: 10px;
}


