.empty-case {
  margin: auto;
}

.box {
  display: flex;

  //background: rgba(12, 232, 157, 0.49);
  border: solid 1px;
  border-color: #babfc7;
  border-color: var(--ag-border-color, #babfc7);

  height: 100%;
  order: 0;
  border-top: none;
  border-left: none;

  .menu {
    width: 100%;
  }
}

:host .script-case.grid-table ::ng-deep > .grid-buttons {
  border-top: none;
  border-left: none;
  border-right: none;
}

.grid-table {
  order: 1;

  + .box {
    border: none;
  }


  ::ng-deep .disable-row {

    background: #736f6e40;

    .disabled-icon {
      color: #eb2f96;
    }

    .ag-cell-last-left-pinned {
      background: white;
    }
  }

  ::ng-deep .disable-cell {
    background: rgba(0, 0, 0, 0.08);

  }


  ::ng-deep .editor-list {
    .ant-list-items .ant-list-item {
      padding: 4px 6px;
    }

    nz-list-header.list-header {
      height: 24px;
      padding: 0;
    }

    nz-list-footer.list-footer {
      height: 28px;
      display: flex;
      padding: 0 6px;
      justify-content: space-between;

    }

    nz-list-header.list-header {
      text-align: end;
    }

    .ant-form-item-control-input {
      min-height: initial;
    }

    .tooltip-title-wrapper {
      height: 18px;
      margin-top: -6px;

      > label {
        height: 18px;
      }
    }
  }
}

.control-button {
  margin-right: 8px;
}

.bottom-right {
  position: absolute;
  top: 0;
  left: 0;
}

.right-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.right {
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}




